.editor-panel {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}

.editor-panel-inner {
    flex-grow: 1;
    max-width: 900px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
    border: none !important;
    outline: none !important;
}

/* Plain text formatting */

.note-text {
    font-size: 16px;
    padding: 4px 8px 2px 8px;
    white-space: pre-wrap;
}

div.note-text ul,
div.note-text ol {
    white-space: normal;
    list-style-position: inside;
    display: inline-block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", arial, sans-serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.codeblock {
    border: 1px dotted #a9a9a9;
    padding: 12px;
    font-size: 12px;
    font-family: monospace;
    overflow-x: auto;
    background: #fbfbfb;
}

.note-text a {
    color: #0969DA;
}

.note-text-deleted,
.note-text-deleted * {
    color: lightgray;
}

.note-text-deleted a {
    color: #096bda4f;
}