.error-message {
  margin: 16px;
  color: var(--error-color);
}

.error-retry-button {
  font-size: 13px;
  color: var(--tech-color);
  background-color: white;
  border: none;
  outline: none;
  margin: 0px 16px;
  cursor: pointer;
  text-decoration: none;
}

.error-retry-button:hover {
  color: var(--text-color);
}

.error-retry-button:focus {
  color: var(--text-color);
}