.error-message {
  margin: 16px;
  color: #e92967;
}

.error-retry-button {
  font-size: 13px;
  color: grey;
  background-color: white;
  border: none;
  outline: none;
  margin: 0px 16px;
  cursor: pointer;
  text-decoration: none;
}

.error-retry-button:hover {
  color: #101720;
}

.error-retry-button:focus {
  color: #101720;
}