.note-title {
    font-size: 30px;
    padding: 0px 0px 16px 0px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    color: var(--text-color);
    text-overflow: ellipsis;
}

.note-title::placeholder {
    color: var(--placeholder-color);
}