.note-title {
    font-family: "Segoe UI", arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 16px 0px 16px 0px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #101720;
    outline: none;
    color: #101720;
    text-overflow: ellipsis;
}

.note-title::placeholder {
    color: grey;
}