.note-list-item-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.note-list-item {
    padding: 4px 16px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    color: var(--text-color);
}

.note-list-item-selected {
    font-weight: 600;
}

.note-list-item-placeholder {
    color: grey;
}

.note-list-item-deleted {
    text-decoration: line-through;
}

.note-list-item-status {
    margin: 4px 8px 0px;
    text-align: right;
}

.note-format-indicator {
    margin-right: 8px;
    font-size: 10px;
    color: #a9a9a9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}