.note-list {
    height: 100%;
    overflow-y: auto;
}

.note-list-counter {
    margin-left: 16px;
    padding: 0px 0px 4px;
    font-size: 10px;
    color: grey;
}

/* TODO: review
@media (max-width: 1200px) {
    .note-list {
        display: none;
    }
}*/