.note-title {
    font-family: "Segoe UI", arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    padding: 16px 0px 16px 0px;
    margin-bottom: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    color: #000000;
    text-overflow: ellipsis;
}