.note-list {
    height: 100%;
    min-width: 300px;
    border-right: solid 1px #f1f1f1;
}

.note-list-item {
    padding: 4px 16px;
    cursor: default;
    font-family: "Segoe UI", arial, sans-serif;
    font-size: 14px;
}

.note-list-item-selected {
    background-color: #f1f1f1;
}