.search-panel {
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
}

.search-panel-input-container {
    padding: 4px 8px;
    border: solid 1px var(--border-color);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.search-textbox {
    margin: 0px 4px;
    font-size: 14px;
    color: var(--text-color);
    outline: none;
    border: none;
    flex: 1;
}

.search-textbox::placeholder {
    color: var(--placeholder-color);
}

.search-panel-icon-close {
    cursor: pointer;
}